.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 250px;
    background-color: #fafafa;
  }
  
  mat-toolbar {
    display: flex;
    align-items: center;
    background-color: gainsboro;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .content {
    padding: 20px;
  }
  